/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url(https://fonts.googleapis.com/css?family=Work+Sans:500,700);
$base-font: "Work Sans", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
@font-face {
  font-family: "Intro Black";
  src: font-url('intro_black.eot');
  src: font-url('intro_black.eot?#iefix') format('embedded-opentype'),
       font-url('intro_black.woff') format('woff'),
       font-url('intro_black.ttf') format('truetype')
}
$header-font: "Intro Black";

// Font-size and line-height
$base-size: 14px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #50E3C2;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$dark-grey: #4A4A4A;
$light-grey: #F5F5F5;


// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
