<footer>
  <div class="container">
    <ul class="list-unstyled list-inline text-center">
      <li>
        Envie de nous aider ? <a class="underline" href="mailto:hello@womenonrails.com">Contactez-nous</a>
      </li>
      <li>
        <a class="underline" href="https://twitter.com/womenonrails">twitter</a>
      </li>
      <li>
        <a class="underline" href="http://github.com/women-on-rails/">github</a></p>
      </li>
    </ul>
  </div>
</footer>
