<nav class="navbar-wor">
  <div class="container navbar-wor-container">

    <%= link_to root_path do %>
      <%= image_tag "logo.svg", class: "navbar-wor-logo" %>
    <% end %>

    <div class="navbar-wor-pusher"></div>

    <a class="navbar-wor-item underline" href="#">À propos</a>

  </div>
</nav>
