<div class="row" id='about'>
	<div class="col-md-2">
		<%= image_tag("logo_325x117px.png", {class: 'logo'}) %>
	</div>
	<div class="col-md-8"></div>
	<div class="col-md-2">À propos</div>
</div>

<div class='head_image'>
	<%= image_tag("twitter-cover.jpg", {class: 'twitter-cover'}) %>
</div>

<div id='learn_to_code'>
	<div class="row">
		<div class="col-md-12">APPRENEZ À CRÉER VOTRE SITE WEB AVEC RUBY ON RAILS ET À LE METTRE EN LIGNE</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			DÉBUTANTES
			Pour toutes les femmes, débutantes ou fausses débutantes
		</div>
		<div class="col-md-4">
			7 LUNDIS
			Une session de 7 lundis soirs de 19h à 21h du 30 Mai au 11 Juillet 2016
		</div>
		<div class="col-md-4">
			MENTORS
			30min de théorie / 1h30 de pratique, accompagnées par des mentors
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">Inscrivez-vous !</div>
	</div>
</div>

<div class='row' id='program'>
	<div class="col-md-3"></div>
	<div class="col-md-6">program</div>
	<div class="col-md-3"></div>
</div>

<div class='blocked'>
	ÇA COINCE ?
	Vous etes déjà lancée sur un projet et vous vous heurtez à des résistances ?
	Des mentors peuvent vous donner un coup de pouce directement sur notre channel Slack #help
	Prochaine session déblocage:
	Jeudi XX Mai à partir de 21h
</div>

<div class='row footer'>
	<div class="col-md-2"></div>
	<div class="col-md-2">Envie de nous aider ?</div>
	<div class="col-md-1">Contactez-nous</div>
	<div class="col-md-1">Remerciements</div>
	<div class="col-md-1"><%= link_to 'Twitter', 'https://twitter.com/womenonrails' %></div>
	<div class="col-md-1"><%= link_to 'Github', 'https://github.com/women-on-rails' %></div>
	<div class="col-md-2">Mentions legales</div>
	<div class="col-md-2"></div>
</div>