@import "utilities";
@import "footer";
@import "navbar";

body {
	background-color: #F5F5F5;
}

.container {
	background-color: white;
}

#program {
	background-color: #F5F5F5;
}

.logo {
	width: 100%;
}

.twitter-cover {
	width: 100%;
}