.steps {
  border-left: 3px solid $brand-color;
  width: 335px;
  margin: 30px auto;
  li {
    padding-left: 60px;
    margin-left: -17px;
    h3 {
      color: $dark-grey;
    }
    &.one {
      background: image_url('icon-nb1.svg') no-repeat left center;
    }
    &.two {
      background: image_url('icon-nb2.svg') no-repeat left center;
    }
    &.three {
      background: image_url('icon-nb3.svg') no-repeat left center;
    }
    &.four {
      background: image_url('icon-nb4.svg') no-repeat left center;
    }
    &.five {
      background: image_url('icon-nb5.svg') no-repeat left center;
    }
    &.six {
      background: image_url('icon-nb6.svg') no-repeat left center;
    }
    &.seven {
      background: image_url('icon-nb7.svg') no-repeat left center;
    }
  }
}
